@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  outline: 1px dotted green;

}

html {
  scroll-behavior: smooth;
}

.row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

ul {
  display: flex;
  align-items: center;
  text-decoration: none;
}

li {
  font-size: 14px;
  padding: 0 20px;
  display: flex;
  text-decoration: none;
}

li:hover,
.login:hover {
  text-decoration: underline;
  color: rgb(100, 21, 255);
  cursor: pointer;
}

h1 {
  font-size: 52px;
  font-weight: 900;
  color: #243e63;
  letter-spacing: 1.5px;
}

span {
  color: rgb(100, 21, 255);
}

h2 {
  color: rgb(100, 21, 255);
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 900;
}

/* Nav Bar */

.nav__bar {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__wrapper {
  width: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoT,
.footer__logo {
  max-width: 36px;
}

.nav__title {
  color: #243e63;
  font-size: 24px;
  font-weight: 900;

}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  font-size: 14px;
  padding: 0px 20px 0 60px;
}

button,
.nav__button {
  width: 130px;
  height: 40px;
  padding: 8px 24px;
  background-color: rgb(100, 21, 255);
  border: none;
  border-radius: 20px;
  color: white;
}

button:hover {
  cursor: pointer;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #7342d6;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu--open .menu__backdrop {
display: flex;
visibility: visible;
opacity: 1;
}

.menu__list {
  padding: 32px 0;
}


.menu__link {
  font-size: 40px;
  color: white;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

/* Landing Page */

.landing__row {
  width: 100%;
  padding: 100px 0 130px;
  display: flex;
}

.landing__header {
  padding: 50px 0 40px;
}

.landing__para {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1.4px;
  word-spacing: 1.5px;
}

.landing__email--box {
  width: 80%;
  height: 70px;
  border-radius: 999px;
  display: flex;
  border: 2px solid rgb(120, 124, 131);
}

.landing__email {
  margin: .06% 8%;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: hidden;
}

.landing__button {
  font-size: 16px;
  font-weight: 600;
  margin: 1.5%;
  width: 50%;
  height: 50px;
  border-radius: 999px;
  
}

.landing__img--wrapper {
  display: flex;
  align-items: center;
}

.customers__img {
  width: 70%;
  opacity: 0.4;
}

.landing__img {
  width: 100%;
}

.customers__text {
  margin: 20px 0;
  font-weight: 1000;
  font-size: 12px;
  padding-top: 50px;
  opacity: 0.3;
}

/* Features */

.features__wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title {
  text-align: center;
  padding-bottom: 24px;
}

.features__header {
  font-size: 52px;
  margin: 0 16px 16px;
  text-align: center;
}

.features__para {
  width: 50%;
  margin: 16px;
  text-align: center;
  opacity: 0.3;
}

.features__container {
  padding: 48px;
  margin: 0 auto;
  max-width: 100%;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.features__services {
  padding: 32px 26px;
  display: flex;
}

.features__icon {
  padding: 18px;
  margin: 10px;
  height: 70px;
  width: 70px;
  border: 2px solid rgb(212, 212, 212);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__row {
  width: 200px;
  height: 150px;
}

.features__container--title {
  margin-bottom:  10px;
  font-size: 24px;
  font-weight: 600;
}

.features__services--para {
  font-size: 16px;
  opacity: 0.5;
  line-height: 1.7;
}

/* Quality */

.quality__container {
  padding: 120px 0 120px 20px;
  display: flex;
}

.quality__description {
  max-width: 40%;
}

.quality__header {
  font-size: 52px;
  margin: 20px 0;
  max-width: 500px;
}

.quality__para {
  margin: 16px 0;
  opacity: 0.5;
  line-height: 1.7;
}

.learn__more {
  margin-top: 28px;
}

.quality__img--wrapper {
  padding: 2% 5% 2% 12%;
}

.quality__img {
  width: 100%;
}

/* Steps */

.steps__container {
  display: flex;
  padding: 60px 0;
  height: 100%;
}

.steps__img {
  padding: 0 20px;
  margin: 60px 0;
  width: 680px;
}

.steps {
  width: 660px;
}

.steps__row {
  margin-left: 24px;
}

.steps__title {
  padding: 0 0 24px;
}

.steps__directions {
  display: flex;
  padding: 24px 0;
}

.step__number {
  padding: 0px 20px 32px;
  font-size: 40px;
  color: #cbd5e0;
  font-weight: 700;
}

.step__title {
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 12px;
}

.step__para {
  line-height: 1.5;
  max-width: 300px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.4;
}

/* Values */

.values__container {
  padding: 60px 0;
  display: flex;
}

.values__wrapper {
  padding-left: 20px;
}

.values__header {
  width: 80%;
  padding: 20px 0 50px;
  font-size: 48px;
}

.values__para {
  margin: 0 0 36px;
  line-height: 1.5;
  max-width: 600px;
  font-size: 20px;
  font-weight: 400;
  color: #718096;
}

.values__description--wrapper {
  display: flex;
}

.value__title {
  display: flex;
  align-items: center;
}
.values__small--title {
  padding: 0 12px;
}

.fa__dollar--wrapper {
  background-color: #9ae6b4;
}

.fa__suitcase--wrapper {
  background-color: #feb2b2;
}

.fa__dollar--wrapper,
.fa__suitcase--wrapper {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #243e63;
}


.value__para {
  font-size: 16px;
  width: 300px;
  padding: 20px 40px 0 0;
  margin: 0 0 36px;
  line-height: 1.5;
  max-width: 600px;
  font-size: 20px;
  font-weight: 400;
  color: #718096;
}

.value__btn--wrapper {
  padding-top: 20px;
}

.values__img {
  width: 650px;
  padding: 20px 0;
}

/* Pricing */

.section__title,
.plan__para,
.plan__title,
.plan__price,
.monthly,
.bottom__box {
  display: flex;
  justify-content: center;
  padding: 10px;
}



.plan__header {
  padding: 16px 0;
  text-align: center;
}

.plan__para {
  text-align: center;
  color: #7c8ba1;
  font-weight: 500px;
  margin: 0 auto;
  max-width: 600px;
  letter-spacing: 1.3px;
  line-height: 1.5;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5% 0;
}

.plan__box {
  outline: 2px solid#e0dfdf;
  width: 380px;
  margin: 20px;
  height: 600px;
}

.plan__divider {
  height: 1px;
  background: #e0dfdf;
}

.plan__divider--b {
  height: 1px;
  background: rgb(102, 126, 234);
}

.top__box {
  padding: 32px;
}

.plan__box1 {
  border-top: 10px solid rgb(56, 178, 172);
  border-radius: 10px;
}

.plan__buy1 {
  width: 200px;
  height: 50px;
  border-radius: 999px;
  background-color: rgb(56, 178, 172);
  font-weight: 600;
}

.plan__box2 {
  border-radius: 10px;
  background-color: rgb(89, 110, 202);
}

.plan__buy2 {
  width: 200px;
  height: 50px;
  border-radius: 999px;
  color: #6415ff;
  background-color: white;
  font-weight: 900;
}

.plan__box3 {
  border-top: 10px solid rgb(245, 101, 101);
  border-radius: 10px;
}

.plan__buy3 {
  width: 200px;
  height: 50px;
  border-radius: 999px;
  background-color: rgb(245, 101, 101);
  font-weight: 600;
}

.mid__box {
  padding: 16px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.plan__title,
.plan__detail {
  font-size: 20px;
  font-weight: 800;
}

.plan__price {
  font-size: 48px;
  font-weight: 900;
}

.monthly {
  font-size: 18px;
  font-weight: 900;
  color: #7c8ba1;
  letter-spacing: 2px;
}

.plan__detail {
  padding: 12px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.plan__details {
  font-size: 16px;
  font-weight: 500;
  color: #7c8ba1;
  display: flex;
  justify-content: center;
}

.bottom__box {
  padding: 32px;
}

.business__text--color {
  color: white;
}

/* Testimonials */

.container__testimonial {
  padding: 60px 0;
  display: flex;
}

.testimonial__img {
  padding: 150px 0;
  width: 650px;
}

.testimonial__description {
  padding: 60px 0 60px 60px;
}

.testimonial__header {
  padding: 20px 0;
}

.testimonial__description--para {
  font-size: 20px;
  font-weight: 450;
  margin-right: 20px;
  line-height: 1.6;
  color: #898d94;
}

.testimonial__rating {
  display: flex;
  width: 120px;
  color: gold;
  border: none;
  padding: 20px 0;
}

.testimonial__para {
  padding: 20px 0 0;
  margin-right: 20px;
  max-width: 600px;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 500;
  color: #4b5461;
}

.tesitimonial__bottom {
  margin: 40px 20px 0 0;
  display: flex;
  justify-content: space-between;
}

.testimonial__client {
  display: flex;
  align-items: center;
}
.testimonial__photo {
  width: 80px;
  border-radius: 9999px;
  margin-right: 28px;
}

.testimonial__occupation {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #718096;
}

.testimonial__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.vertical__divide {
  width: 1px;
  height: 25%;
  background-color: rgb(214, 212, 212);
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.test_left--arrow,
.test__right--arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6415ff;
  background-color: #ebecec;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  cursor: pointer;
}

/* Lower Banner */


.container__banner {
  background-color: rgb(100, 21, 255);
  width: 80%;
  height: 280px;
  margin: auto;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.banner__phrase {
  width: 40%;
  color: #f7fafc;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.5;
}

.banner__btns {
  width: 35%;
  display: flex;
  justify-content: flex-end;
}

.banner__btn--a {
  background-color: #f56565;
  margin: 0 24px;
}

.banner__btn--b {
  border: 2px solid #ebecec;
}

.banner__btn--a,
.banner__btn--b {
  font-size: 16px;
  font-weight: 600;
  width: 170px;
  height: 68px;
  border-radius: 50px;
}

/* Footer */

.footer {
  width: 100%vw;
  background-color: #6415ff;
}

.container__footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom:  50px;
}

.footer__title {
  padding: 80px 0 20px;
  color: #faf7fc;
}

.footer__link {
  padding: 8px 0;
  color: #faf7fc;
}

.footer__link:hover {
  cursor: pointer;
  color: #242424;
}

.footer__divider {
  height: 2px;
  background: rgb(116, 44, 255);
}

.footer__header {
  padding: 80px 0;
  display: flex;
  justify-content: space-around;
}

.footer__logo--name {
  display: flex;
}

.footer__name {
  font-size: 20px;
  font-weight: 800;
  color: #faf7fc;
  margin: 24px 12px;
}

.footer__copyright {
  margin: 16px;
  color: #faf7fc;
}

.footer__icons {
  display: flex;
}

.facebook__wrapper,
.twitter__wrapper,
.youtube__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #010102;
  background-color: #ebecec;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  margin: 8px;
  cursor: pointer;
}


/* small phones, tablets, large smartphones */

@media (max-width: 728px) {

  .row {
    max-width: 728px;
    flex-direction: column;
    padding: 0 20px;
    
  }

  h1,
  .customers__text {
    align-items: center;
    text-align: center;
    
  }

  h2 {
    text-align: center;
  }

  .nav__button {
    display: none;
  }

  .btn__menu {
    display: block;
  }
  
  .landing__row {
    flex-direction: column;
    padding: 50px;
  }

  .customers__img {
    width: 100%;
    padding: 0 80px;
}

  .landing__img--wrapper {
    width: 100%
  }

  p, 
  .quality__description,
  .landing__email--box {
    max-width: 100%;
    margin: 0 auto;
  }

  ul {
    display: none;
  }
  
 .features__para {
  width: 90%;
 }

 .quality__header{
  margin: 10px auto;
 }

  .quality__para {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    }
  
  .learn__more {
    margin: 0 40% 10%;
  }

.steps__container,
.values__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.steps__img {
  display: none;
}

.steps__directions {
  justify-content: center;
}
  
.values__header {
  margin: auto;
}

.values__para {
  text-align: center;
}

.values__description--wrapper {
  justify-content: center;
  height: 190px
}

.principles__wrapper {
  display: flex;
  flex-direction: column;

}

.value__title {
  justify-content: center;
  
}

.value__para {
  padding: 24px 12px;
  text-align: center;
}

.value__btn--wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

}

.container__testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0;
}

.testimonial__img {
  padding: 0;
  width: 100%;
}

.testimonial__description--para{
  text-align: center;
}

.testimonial__para {
  text-align: justify;
}

.container__banner {
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__phrase {
  width: 80%;
  padding:  24px 0;
}

.banner__btns {
  width: 100%;
  justify-content: center;
}

.container__footer {
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 60px;
}

.footer__header {
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 0;

}

}

@media (max-width: 350px) {

  .menu__link {
    font-size: 24px;

  }

  .landing__row {
    padding: 4px;
  }

  .landing__header,
  .features__header,
  .quality__header,
  .steps__header,
  .values__header {
    font-size: 32px;
  }

  .landing__para {
    font-size: 12px;
  }

  .landing__email--box{
    width: 320px;
  }
  .landing__button {
    margin: 3%; 
   }

   .features__services {
    padding: 8px 0;
   }

   .learn__more {
    margin: 8px 80px;

   }

   .quality__img {
    display: none;
   }

   .steps__row {
    margin-left: 0;
   }

   .steps__container {
    padding: 60px 0 0;
   }

   .values__wrapper {
    max-width: 100%;
   }

   .values__description--wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
   }

   .principles__wrapper {
    align-items: center;
   }

   .values__img {
    display: none;

   }

   


  
}