@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  
}

body {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}


ul {
  display: flex;
  align-items: center;
  text-decoration: none;
}

li {
  font-size: 14px;
  padding: 0 20px;
  display: flex;
  text-decoration: none;
}

li:hover,
.login:hover {
  text-decoration: underline;
  color: rgb(100, 21, 255);
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #243e63;
  letter-spacing: 1.5px;
}

span,
h2 {
  color: rgb(100, 21, 255);
}

h2 {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 900;
}

/* Nav Bar */

.nav__bar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__title {
  width: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoT {
  max-width: 36px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  font-size: 14px;
  padding: 0px 20px 0 60px;
}

.btn {
  width: 130px;
  height: 40px;
  padding: 8px 24px;
  background-color: rgb(100, 21, 255);
  border: none;
  border-radius: 20px;
  color: white;
}


/* Landing Page */

.landing__row {
  padding: 100px 0;
  display: flex;
}

.landing__header {
  padding: 50px 0 40px;
}

.landing__description {
  padding: 20px 0;
  width: 510px;
  font-size: 20px;
}

.email__box {
  width: 85%;
  border-radius: 50px;
  display: flex;
  border: 2px solid rgb(229, 231, 235);
}

.landing__email {
  margin-left: 26px;
  width: 65%;
  height: 60px;
  font-size: 16px;
  border: hidden;
}

.landing__button {
  width: 140px;
  margin: 15px;
}

.img__customers {
  width: 300px;
  opacity: 0.4;
}

.img__landing {
  width: 760px;
}

.customers__text {
  margin: 20px 0;
  font-weight: 1000;
  font-size: 12px;
  padding-top: 50px;
  opacity: 0.3;
}

/* Features */

.features {
  padding: 100px 0;
}

.features__title {
  text-align: center;
  padding: 40px 0 24px;
}

.features__header {
  margin: 0 16px 16px;
  text-align: center;
}

.features__para {
  padding: 20px 260px;
  text-align: center;
  opacity: 0.3;
}

.features__container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.features__services {
  padding: 20px;
  display: flex;
}

.features__row {
  width: 200px;
  padding: 0 20px 20px;
}

.features__icon {
  padding: 12px;
  height: 50px;
  width: 50px;
  border: 2px solid rgb(212, 212, 212);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__container--title {
  padding: 8px 0;
  font-size: 20px;
  font-weight: 600;
}

.features__services--para {
  font-size: 12px;
  opacity: 0.5;
  line-height: 1.7;
}

/* Quality */

.quality__container {
  width: 100%;
  padding: 100px 0;
  display: flex;
}

.quality__description {
  max-width: 550px;
}

.quality__header {
  margin: 16px 0;
  max-width: 500px;
}

.quality__para {
  margin: 16px 0;
  opacity: 0.5;
  line-height: 1.7;
}

.learn__more {
  margin: 28px 0 0;
}

.quality__img {
  width: 76%;
  margin: 20px 0 0 120px;
}


/* Steps */


.steps__container {
  display: flex;
  padding: 100px 0;
  height: 750px;
  
}

.steps_img {
  padding: 0 20px;
  margin: 60px 0;
  width: 680px;
}

.steps {
  width: 660px;
}

.steps__row {
margin-left: 24px;
}

.steps__title {
  padding: 0 0 24px;
}


.steps__directions {
  display: flex;
  padding: 24px 0;

}

.step__number {
  padding: 0px 20px 32px;
  font-size: 40px;
  color: #cbd5e0;
  font-weight: 700;

}

.step__title {
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 12px;

}

.step__para {

  line-height: 1.5;
  max-width: 300px;
  font-size: 14px; 
  font-weight: 500;
  opacity: .4;

}

/* Values */

.values__container {
  padding: 100px 0 200px;
  display: flex;
}

.values_header{
  width: 80%;
  padding: 20px 0 50px;
  font-size: 48px;

}

.values__description {
  display: flex;
}


.values__para {
  margin: 0 0 36px;
  line-height: 1.5;
  max-width: 600px;
  font-size: 20px; 
  font-weight: 400;
  color: #718096;
  
}

.value__title {
  display: flex;
  align-items: center;

}
.values__title {
  padding: 0 12px;
}

.fa-solid {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.fa-dollar-sign {
  color: #243e63;
  background-color: #9ae6b4;
}

.fa-suitcase {
  color: #243e63;
  background-color: #feb2b2
}

.value__para {
  font-size: 16px;
  width: 300px;
  padding: 20px 40px 0 0;
}

.value__btn {
  padding-top: 20px;
}

.values__img {
  width: 650px;
  padding: 20px 0;
  
}

/* Pricing */

.plan__header,
.plan__para,
.plan__title,
.plan__price, 
.monthly,
.bottom__box{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.plan__header {
  padding: 20px 0;
  
}

.plan__para {
  text-align: center;
  color: #7c8ba1;
  font-weight: 500px;
  margin: 0 auto;
  max-width: 600px;
  letter-spacing: 1.3px;
  line-height: 1.5;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 0;
}

.plan__box {
  outline: 2px solid#f5f4f4;
  width: 375px;
  margin: 20px;
  height: 600px;
}

.top__box {
  padding: 32px;
  
}

.plan__box1 {
  border-top: 5px solid rgb(56, 178, 172);
  border-radius: 5px;
}

.plan__buy1 {
  background-color: rgb(56, 178, 172);
  font-weight: 600;

}

.plan__box2 {
  border-radius: 5px;
  background-color: rgb(102, 126, 234);
}

.plan__buy2 {
  color: #6415ff;
  background-color: white;
  font-weight: 900;
}

.plan__box3 {
  border-top: 5px solid rgb(245, 101, 101);
  border-radius:  5px;
  

}
.plan__buy3 {
  background-color: rgb(245, 101, 101);
  font-weight: 600;
}

.mid__box{
  padding: 16px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.plan__title,
.plan__detail {
  font-size: 20px;
  font-weight: 800;

}

.plan__price  {
  font-size: 48px;
  font-weight: 900;
}

.monthly {
  font-size: 18px;
  font-weight: 900;
  color: #7c8ba1;
  letter-spacing: 2px;
}

.plan__detail {
  padding: 12px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.plan__details {
  font-size: 16px;
  font-weight: 500;
  color: #7c8ba1;
  display: flex;
  justify-content: center;
  
}

.bottom__box {
  padding: 32px ;
}

.business__text--color {
  color: white;
}





























